

<head>
  <title>MyBlog</title>
</head>
<body>

<div id="wrapper">

  <nav>
    <div class="menu">
      <ul>
         <li><%= link_to 'Home', articles_path %>-->Editing <%= @article.title %></li>
      </ul>
    </div>
  </nav>
  
  <header>
    <h1><a href="#">RailBlog</a></h1>
    <h2>Li Sui 08512949</h2>
  </header>
  
  <section id="main">
      <section id="content">
      	<%= render 'form' %>             
      </section>
          

    <aside id="sidebar">
          <h3><%= link_to 'New Article', new_article_path %></h3>

    </aside>

  </section>
  
  <footer id="footer-area">159.707 Assignment1 </footer>

</body>
