
<section id="content"> 
    <article id="articles-table">  
    </article>                       
</section>

<aside id="sidebar">
          <h3><a href="#/new">New Article</a></h3>
          <p>There are <%= articles.length%> articles in total</p>
</aside>