
<section id="content"> 
    <article id="articles-table">  
    </article>                       
</section>

<aside id="sidebar">
          <h3><a href="#/new">New Article</a></h3>
          
</aside>