
<section id="content"> 
<form id="new-article" name="article">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="text"> text:</label>
    <input type="text" name="text" id="text" value="<%= text %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Article" />
  </div>

</form>
</section>