<section id="content"> 
<article>
<h2>Title:<%= title %></h2>
<p><%= text %></p>
</article>
</section>
<aside id="sidebar">
         <h3><a href="#/new">New Article</a></h3>
         <h4><a href="#/<%= id %>/edit">Edit</h4>
		 <h4><a href="#/<%= id %>/destroy" class="destroy">Destroy</a><h4>
</aside>